<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>YandexTest</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="7b6070">  <td>17/01/30 17:09:22</td>   <td>0</td> <td title="&gt;&gt;BaseTest.setUp()[pri:0, instance:tests.LogOffTest@71e7a66b]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1053782781</td>   <td></td> </tr>
<tr bgcolor="a8f0b4">  <td>17/01/30 17:09:22</td>   <td>83</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.correctLogin()[pri:1, instance:tests.LoginTest@490d6c15]">correctLogin</td> 
  <td>main@1053782781</td>   <td></td> </tr>
<tr bgcolor="79e8cb">  <td>17/01/30 17:09:22</td>   <td>128</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SaveAsDraftTest.createNewMail()[pri:2, instance:tests.SaveAsDraftTest@5c0369c4]">createNewMail</td> 
  <td>main@1053782781</td>   <td></td> </tr>
<tr bgcolor="9d97b0">  <td>17/01/30 17:09:22</td>   <td>129</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DraftEmailDataTest.draftMailRecipientVerification()[pri:3, instance:tests.DraftEmailDataTest@2be94b0f]">draftMailRecipientVerification</td> 
  <td>main@1053782781</td>   <td></td> </tr>
<tr bgcolor="9d97b0">  <td>17/01/30 17:09:22</td>   <td>129</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DraftEmailDataTest.draftMailSubjectVerification()[pri:4, instance:tests.DraftEmailDataTest@2be94b0f]">draftMailSubjectVerification</td> 
  <td>main@1053782781</td>   <td></td> </tr>
<tr bgcolor="9d97b0">  <td>17/01/30 17:09:22</td>   <td>130</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DraftEmailDataTest.draftMailBodyVerification()[pri:5, instance:tests.DraftEmailDataTest@2be94b0f]">draftMailBodyVerification</td> 
  <td>main@1053782781</td>   <td></td> </tr>
<tr bgcolor="d384ee">  <td>17/01/30 17:09:22</td>   <td>142</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SentEmailTest.sentEmail()[pri:6, instance:tests.SentEmailTest@3930015a]">sentEmail</td> 
  <td>main@1053782781</td>   <td></td> </tr>
<tr bgcolor="d384ee">  <td>17/01/30 17:09:22</td>   <td>142</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SentEmailTest.verifySentFolder()[pri:7, instance:tests.SentEmailTest@3930015a]">verifySentFolder</td> 
  <td>main@1053782781</td>   <td></td> </tr>
<tr bgcolor="d384ee">  <td>17/01/30 17:09:22</td>   <td>143</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SentEmailTest.verifyDraftFolder()[pri:8, instance:tests.SentEmailTest@3930015a]">verifyDraftFolder</td> 
  <td>main@1053782781</td>   <td></td> </tr>
<tr bgcolor="99f790">  <td>17/01/30 17:09:22</td>   <td>153</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LogOffTest.sentEmail()[pri:9, instance:tests.LogOffTest@71e7a66b]">sentEmail</td> 
  <td>main@1053782781</td>   <td></td> </tr>
</table>
